<?xml version="1.0"?>
<model>
  <name>Tailsitter with VPP</name>
  <version>1.0</version>
  <sdf version='1.6'>tailsitter_vpp.sdf</sdf>

  <author>
    <name>Piotr Rosiak</name>
    <email>rosiakpiotr3@gmail.com</email>
  </author>

  <description>
    This is a model of a tailsitter with variable pitch propeller.
  </description>
</model>